.header{
  display:flex;
  justify-content: space-between;
  border: 1px solid grey;
}
.nav-items ul{
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  

}
.logo-img{

  height: 100px;
  width:100px
}
.nav-items ul li{
  list-style: none;
  padding: 20px;
}
.res-container{
  display:flex;
  flex-wrap:  wrap;

}

.res-card {
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
  margin: 10px;
  border-radius: 20px;
  
}
.res-card:hover{
  border: 2px solid #f0f0f0;
  cursor: pointer;
}
.res-container{
  padding: 20px;
}
.rescard-img {
  
   width:100%;

}
.search{
  margin: 20px;
}
.filter-btn{
  cursor: pointer;
}